* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  width: 50vmin;
  height: auto;
}

h1 {
  text-align: center;
  font-size: 36px;
}

.ingredients {
  text-align: center;
}

.recipe {
  color: brown;
  size: 32px;
}

ul > li {
  color: burlywood;
  background-color: black;
}

.main.header {
  background-color: rgb(214, 185, 148);
  color: white;
  font-family: Geneva, sans-serif;
  width: 500px;
  margin: 30px auto 70px;
  padding: 20px 50px;
}

#mainlist {
  list-style: none;
  background-color: rgb(234, 202, 146);
  padding: 50px;
}

#mainlist a {
  box-sizing: content-box;
  text-decoration: none;
  color: white;
  background-color: rgb(157, 120, 94);
  padding: 20px;
  display: block;
}

#mainlist li {
  margin: 10px auto;
  width: 200px;
  text-align: center;
}

p {
  font-family: 'Times New Roman', Times, serif;
}